<!DOCTYPE html>
<html>
<head>
  <title>Live Camera</title>

  <style>
    body {
      margin: 0;
      background: black;
      overflow: hidden;
    }

    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    .back-btn {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      text-decoration: none;
      font-size: 16px;
      background: rgba(0,0,0,0.5);
      padding: 8px 12px;
      border-radius: 8px;
      z-index: 10;
    }
  </style>
</head>

<body>

<a href="/" class="back-btn">⬅ Dashboard</a>

<img src="/video">

</body>
</html>